/* scrollbar */
@import '../styles/scrollbar.css';

/* to remove default browser focus-visible */
body * {
  &:focus-visible,
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Optimize paint performance */
img, video {
  content-visibility: auto;
}

/* Reduce layout shift */
body {
  overflow-x: hidden;
}
